body {
  .reset-indent ();
  min-width: 320px;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
  }
}

.container {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 10px;
  }
}
