.gallery__wrapper {
  .set-background (@color: @neutral-color);
}

.gallery__list {
  .reset-indent ();
  list-style: none;
  display: flex;
  flex-direction: column;
}

.gallery__container {
  background-color: @neutral-color;
  margin: 0 auto;
  width: 280px;
}

.gallery__text {
  padding: 45px 0 50px;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    // Почему это не работает для выравнивания по высоте карточек,
    // но работает если элементы сделать флекс контейнерами?????
    align-items: stretch;
    align-content: stretch;
  }

  .gallery__item
  {
    display: flex;
  }

  .gallery__photo {
    width: 300px;
  }

  .gallery__item--day-photo {
    width: 100%;
  }

  .gallery__text {
    margin: 0 auto;
    width: 500px;
    font-size: 18px;
    padding: 93px 0 75px;
  }

  .gallery__container {
    width: 620px;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .gallery__container {
    width: 940px;
  }

  .gallery__text {
    width: 700px;
    font-size: 18px;
    padding-bottom: 85px;
  }
}
