.page-main {
  .set-background (@color: @light-background-color);
  .set-font (@color: @dark-font-color);
}

.page-main__text {
  margin: 0;
  padding: 50px 0 10px;
  line-height: 30px;
  text-align: center;
}

.page-main__icon {
  color: @select-color;
}

.page-main__text--for-form {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-main__text {
    font-size: 18px;
    width: 500px;
    margin: 90px auto 0;
    padding: 0;
  }

  .page-main__text--for-form {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-main__text {
    width: 800px;
  }

  .page-main__text--for-form {
    display: inline-block;
  }

  .page-main__form {
    width: 940px;
    margin: 0 auto;
  }
}
