.page-header {
  min-height: 235px;
  position: relative;
  text-align: center;
  position: relative;

  .set-background(@color: @dark-background-color; @image: @header-background-image);
  background-size: cover;

  &__container {
    display: flex;
  }

  &--menu-open {
    padding: 0 0 347px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 65px;
    background-color: rgba(29, 38, 50, 0.3);
  }

  &--index {
    min-height: 460px;
    margin-bottom: 272px;
    .set-background(@color: @dark-background-color; @image: url("../img/iphone-hand-mobile@1x.png"); @background-position: 50% 40%);
    .set-background(@color: @dark-background-color; @image: @header-background-image);

    background-size: auto, cover;
  }

  &__logo {
    align-self: flex-start;
    padding: 0;
    cursor: pointer;
  }

  &__title {
    // margin: 35px 0 80px;
    margin: 0;
    padding: 35px 0;
    .set-font (24px; 1.2; @color: @light-font-color; @font-weight: lighter);
  }

  @media (min-width: @tablet-width) {
    min-height: 400px;
    margin-bottom: 0;

    &--index {
      min-height: 730px;
      background-position: bottom, bottom;
    }

    &__wrapper {
      min-height: 110px;
    }

    &__logo {
      padding: 0 0 0 70px;
      align-self: center;
    }

    &__title {
      padding: 68px 0;
      font-size: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    &--index {
      min-height: 850px;
      background-size: auto, cover;
    }
  }
}
