.table {
  .set-background (@color: @light-background-color);
  .set-font (@line-height: 30px; @color: @dark-font-color; @text-transform: uppercase);
  border-collapse: collapse;

  &__header {
    border-bottom: 2px solid @dark-font-color;
    border-radius: 2px;
  }

  &__body {
    border: 2px solid @neutral-color;
    border-radius: 1px;
  }

  &__cell {
    border: 2px solid @neutral-color;
    padding: 16px 0 9px 23px;
  }

  &__heading-cell {
    .set-background (@color: @dark-background-color);
    .set-font (18px; 30px; @color: @light-font-color);
    width: 25%;
    border-left: 2px solid @neutral-color;
  }

    &__heading-cell--rate {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 17px;
  }

  &__heading-cell--price {
    font-size: 24px;
    padding-bottom: 20px;
  }

  &__heading-cell--empty {
    background-color: rgb(242, 242, 242);
  }

    @media (max-width: @mobile-width-only) {
      width: 840px;
      margin-left: -260px;

      .table__cell--col1 {
        display: none;
      }

      .table__sign {
        width: 210px;
        float: left;
      }

      &__cell {
        text-align: left;
      }
}

    @media (min-width: @tablet-width) {
      text-transform: none;

          &__heading-cell--rate {
          padding-top: 15px;
        }

        &__heading-cell--price {
          padding-bottom: 6px;
          font-size: 18px;
        }

        &__cell {
          padding: 7px 18px 5px 15px;
        }

      .table__cell--col1 {
        text-align: left;
      }

      .table__sign {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      &__heading-cell--price {
        font-size: 24px;
        font-weight: lighter;
        padding-bottom: 22px;
      }

      &__cell {
        padding: 16px 25px 10px;
        font-size: 18px;
      }

}
}
